/* quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  /* style header */
  .header{
    margin: 20px 140px;
  }
  .header .nav-area{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: space-between;
    align-items: center;
  }

.header .brand-name{
    display: flex;
    align-items: center;
}
.header .list-item{
    display: flex;
    column-gap: 20px;
    list-style: none;
    
}
.header .nav-icon{
    position: absolute;
    top: 30px;
    right: 23px;
    display: none;
}
.header .list-item a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500px;
}
.header .list-item #one{
    color: #FEA301;
}
.header .list-item #two{
    color: #01ACFD;
}
.header .list-item #three{
    color: #05D4DF;
}
.header .list-item #four{
    color: #5D58EF;
}
.header .btn-container{
    display: flex;
    justify-content: end;
}
.header .btn-container .btn{
    border: none;
    background-color: #FEA301;
    padding: 10px 50px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600px;
    font-size: 1.25rem;
}


@media screen and (max-width:576px){
    .header{
        margin: 10px 10px;
      }
    .header .school{
        display: none;
    }
    .header .list-item{
        display: none;
    }
    .header .btn-container{
        display: none;
    }
    .header .nav-icon{
        display: block;
        align-items: center;
    }
}